@import url('https://fonts.googleapis.com/css2? family=Advent+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2? family=Abel&family=Advent+Pro:wght@200&display=swap');


body {
    font-family: 'Advent Pro';
    padding: 0;
    margin: 0;
    background-color: rgb(216, 216, 216);
}

ul{
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h2 {
    font-size: 2em;
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: white;
}


/* **************NAVBAR************* */

nav {
    overflow: hidden;
    background: linear-gradient(#616161, #272727);
    position: fixed;
    width: 100%;
    height: 70px;
    opacity: 0.9;
}

header li {
    float: right;
    font-size: 1.2em;
}

header li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}

#logo {
    font-family: 'Advent Pro';
    font-weight: bold;
    float: left;
}


/* ************** IMAGE PRINCIPALE ************ */


#imageprincipale {
    padding-top: 60px;
    background: url(media/imagePrincipale.jpg) no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}

h1 {
    font-family: 'Advent Pro';
    text-align: center;
    color: black;
    font-size: 6em;
    margin-top: 28px;
    text-shadow: 1px 2px 2px black;
}


h3{
    text-align: center;
    color: black;
    font-size: 2em;
    margin-top: -78px;
    text-shadow: 1px 1px 1px black;

}



/* **********PRESENTATION************ */

#presentation {
    padding: 10px 0px 100px 0;
}

#texteintro {
    padding: 0px 20%;
}


#prestation {
    display: flex;
    justify-content: space-between;
    padding: 0px 15%;
}

.imagePrestation h4 {
    font-family: 'Advent Pro';
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;

}

.imagePrestation img {
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px rgb(95, 95, 95);
    margin: auto;
    display: block;
}

.imagePrestation p {
    font-size: 22px;
}

.imagePrestation img:hover {
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.5s ease;
}


/* ***********AUTRE MODELE*********** */


#tourisme {
    height: 800px;
    padding: 1px 2%;
}

#tourisme h2{
    padding-top: 60px;
}

#rs3 {
    background: url(media/rs3.jpg);
    border-radius: 20px;
}

#a45 {
    background: url(media/A45.jpg);
    border-radius: 20px;
}

#m2 {
    background: url(media/m2.jpg);
    border-radius: 20px;
}

#tourisme li{
    margin: 65px 100px 0 100px;
    height: 260px;
    width: 55%;
    max-width: 375px;
    float: left;
    box-shadow: 6px 6px 28px -1px black;
}

#tourisme #a45{
    max-width: 295px;
}

#tourisme #m2{
    max-width: 378px;
}

#tourisme p {
    height: 45px;
    width: 235px;
    background-color: rgb(172, 172, 172);
    float: right;
    margin: 50px -180px 0 0;
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
    box-shadow: 2px 2px 3px 1px black;
}



/* **********FOOTER********** */



footer{
    background: linear-gradient(#616161, #272727);
    opacity: 0.9;
    color: white;
    text-align: center;
    padding: 20px 0 10px 0;
}

form {
    margin: 0 auto;
    max-width: 900px;
}

input, textarea, button{
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 2px 0;
    font-size: 1.2em;
    font-family: 'Advent Pro';
    border-radius: 8px;
}

textarea {
    height: 120px;
}

button {
    font-size: 1.5em;
    margin-top: 20px;
}

button:hover{
    background-color: gray;
    color: black;
    cursor: pointer;
    transition: 0.3s ease-in-out;
} 

#icons {
    width: 70%;
    text-align: right;
    margin-top: 5px;
}

#icons a {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.3em;
    color: white;
}

#icons a:hover{
    transform :scale(1.5);
    transition: 0.2s;
}